# Override host options
# Elasticsearch docs https://www.elastic.co/guide/en/elasticsearch/reference/index.html
elasticsearch:
  lookup:
    elasticsearch:
      repo_version: '5.x' # Version and baseurl both change: 2.x and 2.x/centos or 5.x and 5.x/yum
      repo_baseurl: 'https://artifacts.elastic.co/packages/5.x/yum'
      repo_gpgkey: 'https://artifacts.elastic.co/GPG-KEY-elasticsearch'
      debrepo_baseurl: 'deb https://artifacts.elastic.co/packages/5.x/apt stable main'
      debrepo_keyurl: 'https://artifacts.elastic.co/GPG-KEY-elasticsearch'
      restart_service_after_state_change: 'true'
      unicast_hosts: '["esnode00","esnode01","esnode02"]'  # Make this the same as your list of masters
      mounts:
        create_lvm: 'false'
        lvm_pv_name: '/dev/sdc'
        lvm_vg_name: 'graylog'
        lvm_data_lv_name: 'es_data'
        lvm_data_lv_size: '20G'
        lvm_archive_lv_name: 'es_archive'
        lvm_archive_lv_size: '20G'
        data_dir_name: '/elasticsearch/data'
        data_mount_fstype: 'ext4'
        data_mount_device: '/dev/mapper/graylog-es_data'
        archive_dir_name: '/elasticsearch/archive'
        use_archive_dir: 'false'
        archive_mount_fstype: 'ext4'
        archive_mount_device: '/dev/mapper/graylog-es_archive'

